<p id="notice"><%= notice %></p>

<h1>Articles of your interest</h1>

<% @articles.each do |article| %>
  <%= render partial: 'index_article', locals: {article: article} %>
<% end %>
<center><%= paginate @articles %>
<%= page_entries_info @articles %></center>