<p id="notice"><%= flash[:notice] %></p>
<div class="panel panel-default">
<div class="panel-heading"><h1> Sign Up </h1> </div>

<%= render 'form' %>

</div>
<p id="notice"><%= flash[:notice] %></p>
<strong><%= link_to 'Back', :login %></strong>
