<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Hi, *|first_name|* </h2>
    <p>
     *|HTML:body|*    
     <br>
     <p> Best Regards, <br>
     The Digest </p>
  </body>
</html>